<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome, <%= @user.worker.first_name + ' ' + @user.worker.last_name%></h1>
    <div>
      With our app your will be able to:
      <ul>
        <li>create your own tickets;</li>
        <li>get tickets from managers;</li>
        <li>track your progress;</li>
        <li>manage your tickets;</li>
        <li>work as a team member;</li>
        <li>be as efficient as you can get.</li>
      </ul>
    </div>
    <p>Best of luck!</p>
  </body>
</html>